/.env
/.idea
/vendor
.DS_Store

# Build
node_modules
*.js.map
*.css.map

# Letsencrypt
.well-known

# Fabfile
*.pyc

# Bower
bower_components

# Treated images
web/imager

# Ignore unrevisioned assets
web/assets/dist/css/application.css
web/assets/dist/js/application.js
