{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = entry.title %}
{% set description = entry.body|striptags[:160] %}
{% if entry.seoDescription %}
  {% set description = entry.seoDescription %}
{% endif %}

{% set params = craft.entries.section('comics').orderBy('postDate desc, id asc') %}
{% set prevEntry = entry.getPrev(params) %}
{% set nextEntry = entry.getNext(params) %}

{% block content %}
  <article class="comic is-single" data-page="{{ entry.url|replace((siteUrl), '/') }}" data-page-title="{{ entry.title }}">
    {% include "partials/_edit" with {'entry': entry} %}
    <h1>{{ entry.title }}</h1>
    <div class="meta user-content">
      <div class="body">{{ entry.body }}</div>
      <div class="info">{{ entry.shortDescription }}</div>
      {% if entry.price > 0 %}
        <button class="buy" data-price="{{ entry.price }}" data-title="{{ entry.title|escape }}" data-id="{{ entry.id }}">Buy — ${{ entry.price + 0 }}</button>
      {% endif %}
    </div>
    <div class="comic-pages">
    {% for image in entry.comicPages.all() %}
      <img width="{{ image.width }}" height="{{ image.height }}"
        src="{{ image.getUrl('listing') }}"
        srcset="{{ image.getUrl('listing') }} 750w, {{ image.getUrl() }} {{ image.width }}w,"
        sizes="(max-width: 768px) 100vw, (max-width: 1500px) 750px, 960px"
        alt="{{ image.title ? image.title : entry.title }}"
        loading="lazy"
      />
    {% endfor %}
    {% include "partials/_edit" with {'entry': entry} %}
    </div>
  </article>
  {% include "partials/_pagination" %}
{% endblock %}
