{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = "Comics" %}
{% set description = "Diddling with sequential doodles." %}
{% set entries = craft.entries({
    section: 'comics',
    with: [
      ['featuredImage', {
          withTransforms: ['thumb','thumb1x','thumbLarge']
      }]
    ]
}) %}
{% set relatedCats = craft.categories.relatedTo(entries) %}

{% block content %}
  <section class="comics-list image-list page-content" data-page="{{ craft.app.request.absoluteUrl|replace((siteUrl), '/') }}" data-page-title="{{ title }}">
  {# Loop the categories #}
  {% for category in relatedCats.all() %}

    <div class="comic-group category-{{ category.slug }}">
      <h2>{{ category.title }}</h2>
      <div class="thumb-wrap">
      {% set relatedEntries = craft.entries.relatedTo(category) %}
      {% for entry in relatedEntries.all() %}

        {% set featuredImage = entry.featuredImage[0] ?? null %}
        {% if featuredImage %}
          <article class="bigclicky {{ (entry.size=='large') ? "wide" : "" }}">
            <div class="pad">
              <img
                src="{{ featuredImage.getUrl('thumb1x') }}"
                srcset="{{ featuredImage.getUrl('thumb1x') }} 250w, {{ featuredImage.getUrl('thumb') }} 500w, {{ featuredImage.getUrl('thumbLarge') }} 1000w"
                sizes="(max-width: 480px) 100vw, (min-width: 481px) and (max-width: 768px) 50vw, {{ (entry.size=='large') ? "50vw" : "25vw" }}"
                alt="{{ featuredImage.title ? featuredImage.title : entry.title }}"
                loading="lazy"
              />
              <h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
            </div>
          </article>
        {% endif %}

      {% endfor %}
      </div>
    </div>

  {% endfor %}
  </section>
{% endblock %}
