// about
body.active-about {
  background: $about;
  figure img {
    display: block;
    margin-bottom: 10px;
  }
  .user-content a {
    @include inline-link($link, $about);
  }
  @include min-screen($breakpoint-medium) {
    main {
      padding: 150px 70px 50px 20px;
      .user-content {
        p {
          max-width: 750px;
        }
        figure {
          display: inline-block;
          width: 33.3%;
          float: left;
        }
      }
    }
    .s,
    .cart,
    .x {
      top: 68px;
    }
    .cart {
      top: 66px;
    }
    nav.main a.featured span {
      left: 0;
      right: 20%
    }
  }
}
.social {
  margin: 0 -10px;
  padding: 20px 0;
  li {
    display: inline-block;
    a {
      font: italic 18px/1 "Anonymous Pro", monospace;
      text-decoration: underline;
      color: $white;
      @include inline-link($white, $about);
      display: inline-block;
      padding: 6px 10px;
    }
  }
}