%loading {
  content: '';
  position: absolute;
  top: 45%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin: 0 0 0 -15px;
  border-radius: 50%;
  border: 2px solid rgba(255,255,255,.1);
  border-top-color: rgba(255,255,255,1);
  animation: spinner 1s linear infinite;
}

*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background: $comics;
  transition: background-color .25s ease-out;
  font: 15px/1.5 "Anonymous Pro", monospace;
  @include min-screen($breakpoint-large) {
    font: 17px/1.5 "Anonymous Pro", monospace;
  }
  color: $white;
}
.h1,h1 {
  font: italic 24px/1 "Anonymous Pro", monospace;
  margin: 1em 0 .5em;
  @include min-screen($breakpoint-large) {
    font: italic 32px/1 "Anonymous Pro", monospace;
  }
}
.h2,h2,
.h3,h3 {
  font: italic 18px/1 "Anonymous Pro", monospace;
  margin: 1em 0 .5em;
  @include min-screen($breakpoint-large) {
    font: italic 24px/1.2 "Anonymous Pro", monospace;
  }
}
main {
  article>h1 {
    margin-top: 0;
  }
  h1 a,
  h2 a,
  h3 a{
    color: $white;
  }
}
p {
  margin: 0 0 1.5em;
}
.hidden {
  display: none;
}
img {
  max-width: 100%;
  height: auto;
}

// big ol' primary nav
nav.main {
  height: 100vh;
  a {
    font: italic 24px/1 "Anonymous Pro", monospace;
    -webkit-font-smoothing: antialiased;
    color: $white;
    text-transform: uppercase;
    letter-spacing: -1px;
    text-decoration: none;
    display: block;
    position: fixed;
    // position: absolute;
    z-index: 9;
    width: 50%;
    height: 50vh;
    transition: border 0.25s steps(4), background 0.01s, font 0.01s;
    border: 0 solid rgba(0,0,0,0);
    span {
      display: block;
      position: absolute;
      left: 30%;
      top: 50%;
      transform: translateZ(0); // trigger gpu
      -webkit-font-smoothing: antialiased;
      @include max-screen($breakpoint-small) {
        top: 60%;
      }
      transition: top .5s, left .5s, right .5s, bottom .5s;
      transform: translateY(-50%);
    }
    @include max-screen($breakpoint-small) {
      &.journal,
      &.comics {
        span {
          top: 30%;
        }
      }
    }

    &.journal,
    &.featured {
      span {
        left: auto;
        right: 30%;
      }
    }
    &.comics {
      top: 0;
      left: 0;
      background: $comics;
    }
    &.journal {
      top: 0;
      right: 0;
      background: $journal;
    }
    &.about {
      bottom: 0;
      left: 0;
      background: $about;
    }
    &.featured {
      bottom: 0;
      right: 0;
      background: $featured;
    }
  }
}
// notouch hovers
.no-touchevents {
  nav.main {
    a:hover span {
      text-decoration: underline;
    }
  }
}

// primary content area
main {
  overflow-x:hidden;
  padding: 80px 20px 10px;
  @include min-screen($breakpoint-medium) {
    padding: 100px 70px 150px 20px;
  }
}

// rotate offside links 90deg on desktop
@include min-screen($breakpoint-medium) {
  body.active-comics nav.main a.journal,
  body.active-journal nav.main a.comics,
  body.active-about nav.main a.featured,
  body.active-featured nav.main a.about {
    top: 50px;
    height: 100%;
    width: 50px;
    span {
      transform: rotate(90deg);
      transform-origin: top right;
      left: 0;
      right: 20%;
      top: 70px;
    }
  }
}

// active nav item / headers
body.active-about nav.main a.about,
body.active-featured nav.main a.featured,
body.active-journal nav.main a.journal,
body.active-comics nav.main a.comics {
  font: italic 30px/1 "Anonymous Pro", monospace;
  background: transparent;
  width: auto;
  span {
    text-decoration: underline;
  }

  // mobile active section headers are absolute top left
  @include max-screen($breakpoint-medium) {
    font-size: 24px;
    position: fixed;
    top: 0;
    left: 10px;
    width: 45%;
    text-align: left;
    z-index: 5;
  }
}

@include min-screen($breakpoint-medium) {
  body.active-about nav.main a.about,
  body.active-featured nav.main a.featured {
    // bottom: calc(100vh - 100px);
    bottom: auto;
    top: 53px;
  }
}

.apron {
  display: flex;
  flex-wrap: wrap;
  .sketchbook {
    flex: 0 1 50%;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

// homepage hover effect giant oldskool border madness
@include min-screen($breakpoint-medium) {
  .no-touchevents body:not(.in-section) {
    nav.main a {
      &.comics {
        &:hover {
          border-bottom: 25vh solid darken($comics, 10%);
          border-right: 25vh solid lighten($comics, 10%);
        }
      }
      &.journal {
        &:hover {
          border-bottom: 25vh solid darken($journal, 10%);
          border-left: 25vh solid lighten($journal, 10%);
        }
      }
      &.about {
        &:hover {
          border-top: 25vh solid lighten($about, 10%);
          border-right: 25vh solid darken($about, 10%);
        }
      }
      &.featured {
        &:hover {
          border-top: 25vh solid lighten($featured, 10%);
          border-left: 25vh solid darken($featured, 10%);
        }
      }
    }
  }
}

// single pages & journal lists
.journal-list article,
.is-single {
  @include clearfix;
  max-width: 750px;
  @include min-screen($breakpoint-large) {
    max-width: 960px;
  }
  margin: 0 auto;
}
.journal-list article {
  margin-bottom: 40px;
  h1 a {
    color: $link;
  }
}
.is-single,
.page-content {
  opacity: 0;
  transform-origin: top center;
  transform: scale(.98);
  transition: all .5s ease-out;
}

// No javascript
.no-js {
  .is-single,
  .page-content {
    opacity: 1;
  }
  .x,
  .s {
    display: none !important;
  }
  .bigclicky {
    cursor: auto;
  }
  img.lazy {
    opacity: 1;
  }
}

main.loaded {
  .is-single,
  .page-content {
    transform: scale(1);
    opacity: 1;
  }
}
// svg icons
svg.icon {
  fill: none;
  stroke: $white;
  stroke-width: 2px;
  width: 22px;
  height: 22px;
}

// giant SVG head
#nate-eyes {
  transition: fill .25s ease-out;
}
#natehead {
  position: fixed;
  transition: all .5s ease-in-out;
  transform-origin: top center;
  left: 51%;
  top: 50vh;

  z-index: 10;
  width: 150px;
  height: 150px;
  transform: scale(1) translate(-50%, -50%);
  // transform: scale(1) translate(-50%, calc(50vh - 50%));
  svg {
    width: 100%;
    height: 100%;
  }

  @include min-screen($breakpoint-medium) {
    pointer-events: none;
    width: 500px;
    height: 500px;
    transform: scale(1) translate(-50%, -50%);
  }
}

// "nate beaty" title
h1.title {
  font: italic 20px/1 "Anonymous Pro";
  -webkit-font-smoothing: antialiased;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -1px;
  position: fixed;
  top: 46vh;
  margin-top: -100px;
  user-select: none;
  left: 50%;
  z-index: 11;
  .nate {
    display: block;
    position: absolute;
    right: 0;
    text-align: right;
    top: .4em;
  }
  .beaty {
    top: 0;
    display: block;
    position: absolute;
  }

  @include min-screen($breakpoint-medium) {
    font: italic 24px/1 "Anonymous Pro";
  }
}

// X close/back button
.s,
.x {
  position: fixed;
  right: 10px;
  top: 15px;
  width: 22px;
  height: 22px;
  cursor: pointer;
  display: none;

  @include min-screen($breakpoint-medium) {
    right: 70px;
  }
}
body.checking-out .x,
body.searching .x {
  z-index: 50;
}
.s {
  right: 45px;

  @include min-screen($breakpoint-medium) {
    right: 111px;
  }
}

// general "in a section" body state
body.in-section {
  .s,
  .x {
    display: block;
  }
  #natehead {
    pointer-events: auto;
    top: 0px;
    transform: scale(.5) translate(-100%, -25px);

    // transform: scale(.5) translate(-100%, calc(-25px));

    @include min-screen($breakpoint-medium) {
      cursor: pointer;
      transform: scale(.333) translateX(-150%);
      top: -50px;
      // transform: scale(.333) translate(-150%, calc(-150px));
      // top: 50px;
    }
  }
  h1.title {
    display: none;
  }
  nav.main {
    height: 0;
    a {
      position: fixed;
    }
    @include max-screen($breakpoint-medium) {
      height: auto;
      a {
        position: relative;
        width: 100%;
        height: 50px;
        text-align: center;
        span {
          position: relative;
          left: auto;
          right: auto;
          top: auto;
          transform: none;
          line-height: 50px;
        }
      }
    }

    @include min-screen($breakpoint-medium) {
      height: 0;
      a {
        height: 50px;
        span {
          left: 20px;
        }
        &.journal,
        &.featured {
          span {
            left: auto;
            right: 20px;

          }
        }
      }
    }
  }
}

// general image masonry list (used on comics, featured)
.image-list {
  .category-shorts article,
  .category-oldies article,
  .category-kids article {
    flex: 0 1 50%;
    @include min-screen($breakpoint-medium) {
      flex: 0 1 20%;
    }
  }
  .images-loaded article img {
    min-height: 0;
  }

  .thumb-wrap {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -5px;
    position: relative;
  }

  article {
    flex: 0 1 100%;
    margin: 0 0 10px;
    position: relative;
    .pad {
      padding: 0 5px;
      position: relative;
    }

    a {
      display: block;
    }
    img {
      display: block;
    }
    h3 {
      margin: 0;
      font: normal 18px/1 "Anonymous Pro", monospace;
      color: $white;
      background: black;
      a {
        display: block;
        padding: 10px;
        color: $white;
        text-decoration: none;
      }
    }
    @include min-screen($breakpoint-small) {
      flex: 0 1 50%;
    }
    @include min-screen($breakpoint-medium) {
      &.wide {
        flex: 0 1 50%;
        img {
          width: 100%;
        }
      }
      flex: 0 1 25%;
      cursor: pointer;
    }
    @include min-screen($breakpoint-large) {
      h3 {
        a {
          padding: 20px;
        }
      }
    }
  }
}
// notouch hovers
.no-touchevents {
  .image-list {
    article {
      @include min-screen($breakpoint-medium) {
        h3 {
          visibility: hidden;
          max-height: 0;
        }
        &:hover {
          h3 {
            z-index: 3;
            overflow: hidden;
            position: absolute;
            bottom: 0;
            left: 5px;
            right: 5px;
            visibility: visible;
            max-height: 100px;
          }
        }
      }
    }
  }
}


.pagination {
  max-width: 750px;
  @include min-screen($breakpoint-large) {
    max-width: 960px;
  }
  height: 30px;
  margin: 20px auto;
  position: relative;
  text-align: center;
  line-height: 30px;
  a.archives {
    font: italic 20px/1 "Anonymous Pro", monospace;
    text-transform: uppercase;
    color: $link;
    @include inline-link($link, $journal);
  }
  a:not(.archives) {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    top: 0;
    &.previous {
      left: 0;
    }
    &.next {
      right: 0;
      transform: rotate(180deg);
    }
    svg {
      width: 30px;
      height: 30px;
      stroke: #fff;
    }
  }
}



// editable content styles
.user-content {
  em {
    font-style: italic;
  }
  a:not(.buy) {
    @include inline-link($link_dark, $white);
    color: $link;
    text-decoration: underline;
    display: inline-block;
  }
  p.question {
    text-decoration: underline;
  }
  // custom li'l class for a writing excerpt in a journal entry
  .qna,
  blockquote,
  .writing-excerpt {
    padding: 0 1.5em;
    border-left: 10px solid $link_dark;
    color: $white;
  }
  p.caption {
    margin-top: -0.5em;
    opacity: 0.65;
    font-size: small;
  }
  .video-container {
    margin-bottom: 1em;
  }
  ul {
    list-style: disc;
    margin: 0 0 1.5em;
  }
  code {
    background: rgba(255, 255, 255, 0.1);
    padding: 2px 4px;
  }
}





body.active-featured nav.main a.about,
body.active-about nav.main a.featured,
body.active-journal nav.main a.featured,
body.active-comics nav.main a.featured {
  height: auto;
  padding-bottom: 50px;
}


// better centered images on large screens
@include min-screen(960px) {
  body.active-comics.active-single,
  body.active-featured.active-single,
  body.active-journal {
    main {
      padding-right: 70px;
    }
  }
}

// Lazyload
// Prevents img without src to appear
img:not([src]) {
  visibility: hidden;
}
// Fixes Firefox anomaly
@-moz-document url-prefix() {
  img:-moz-loading {
      visibility: hidden;
  }
}
img.lazy {
  display: block;
  min-height: 150px;
  opacity: 0;
  transform: scale(.98);
  transition: transform .5s ease-out;
  &.loaded {
    min-height: 0;
    transform: scale(1);
    opacity: 1;
  }
}

// Easter eggs
#natehead {
  &.dizzy svg { animation: dizzy 2s forwards ease-out; }
  &.jab svg { animation: jab 2s forwards ease-in-out; }
  &.pow svg { animation: pow 2s forwards ease-in-out; }
  &.wizard svg { animation: wizard 2s forwards ease-in-out; }
  &.spiral svg { animation: spiral 2s forwards; }
  &.chunkers svg { animation: chunkers 1s forwards; }
  &.spinny svg { animation: spinny 2s forwards; }
}

@keyframes dizzy {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(18000deg); }
}
@keyframes jab {
  10%, 90% { transform: translate3d(-100px, 0, 0); }
  20%, 80% { transform: translate3d(100px, 0, 0); }
  30%, 50%, 70% { transform: translate3d(-200px, 0, 0); }
  40%, 60% { transform: translate3d(200px, 0, 0); }
}
@keyframes pow {
  10%, 90% { transform: scale(.5); }
  20%, 80% { transform: scale(1.5); }
  30%, 50%, 70% { transform: scale(.2); }
  40%, 60% { transform: scale(2.2); }
}
@keyframes wizard {
  19.999% { transform: translate(0,0) scale(1); opacity: 1;}
  20% { transform: translate(20vw,-20vh); }
  39.999% { transform: translate(20vw,-20vh) scale(.9); opacity: 0; }
  40% { transform: translate(-20vw,20vh) scale(1); opacity: 1; }
  59.999% { transform: translate(-20vw,20vh) scale(.9); opacity: 0; }
  60% { transform: translate(-20vw,-20vh) scale(1); opacity: 1; }
  79.999% { transform: translate(-20vw,-20vh) scale(.9); opacity: 0; }
  80% { transform: translate(20vw,20vh) scale(1); opacity: 1; }
  99.999% { transform: translate(20vw,20vh) scale(.9); opacity: 0; }
}
@keyframes spiral {
  20% { transform: rotate(360deg) translate(150px) rotate(-360deg); }
  75% { transform: rotate(-360deg) translate(-150px) rotate(360deg); }
  100% { transform: rotate(0deg) translate(0px) rotate(-0deg); }
}
@keyframes chunkers {
  10%, 90% { transform: translate3d(-50px, 10px, 0); }
  20%, 80% { transform: translate3d(50px, 0, 10px); }
  30%, 70% { transform: translate3d(50px, 10px, 0); }
  40%, 60% { transform: translate3d(-50px, 0, 10px); }
}
@keyframes spinny {
  10% { transform: translate3d(-150px, 10px, 100px) rotate(90deg); }
  30% { transform: translate3d(150px, 100px, 10px) scale(1.5); }
  50% { transform: translate3d(150px, 10px, -100px) rotate(-90deg); }
  70% { transform: translate3d(-150px, -100px, 10px) scale(5); }
}

@keyframes spinner {
  100% {transform: rotate(360deg);}
}

// Fitvids wrapper
.fluid-width-video-wrapper {
  margin-bottom: 10px;
}

// Search overlay
.checkout-form,
.search {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($comics,.9);
  // background: rgba(255,0,0,.9);
  z-index: 15;
}
.search {
  input[name=s] {
    font: 50px/1.2 "Anonymous Pro", monospace;
    letter-spacing: -.03em;
    padding: 0;
    color: $white;
    position: absolute;
    left: 20px;
    top: 28px;
    border: none;
    background: none;
    outline: none;
    text-indent: .05em;

    @include min-screen($breakpoint-medium) {
      font: 150px/1.2 "Anonymous Pro", monospace;
      left: 100px;
    }
  }
  .results {
    position: absolute;
    top: 98px;
    left: 20px;
    height: calc(100vh - 98px);
    overflow: auto;
    font: italic 16px/1.2 "Anonymous Pro", monospace;
    @include min-screen($breakpoint-medium) {
      left: 80px;
      width: 80%;
      height: calc(100vh - 220px);
      top: 220px;
      font: italic 24px/1.2 "Anonymous Pro", monospace;
    }
    padding: 10px;
    color: $white;
    a {
      display: block;
      text-decoration: underline;
      margin-bottom: 10px;
      color: $link;
      position: relative;
      @include min-screen($breakpoint-medium) {
        padding-left: 20px;
        &.active::before {
          content: '>';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          color: $white;
          font: 24px/1.2 "Anonymous Pro", monospace;
        }
      }
    }
  }
  input[type=submit] {
    border: none;
    background: none;
    text-indent: -100em;
  }
}
// Active search state
body.searching .search {
  display: block;
}
body.checking-out {
  .checkout-form {
    background: rgba($cart,.9);
    display: block;
  }
  .cart,
  .cart-wrap {
    z-index: 50;
  }
  .cart svg {
    display: none;
  }
  .flip {
    background: $white;
  }
}

// 404
body.active-404 {
  background: #01A1AF;
  text-align: center;
}
.four-oh-four {
  width: 250px;
  margin: 0 auto;
  @include min-screen($breakpoint-medium) {
    margin: 15vh auto 0;
  }
  img {
    display: block;
    margin: 20px auto 0;
  }
  h1 {
    font-size: 100px;
    line-height: 1;
    margin: 0;
    color: $white;
  }
  h2 {
    background: #fff;
    color: #AA0C00;
    padding: 20px;
    margin: 0;
    font-size: 40px;
  }
}
.edit-link {
  text-align: right;
  a {
    @include button;
  }
}
@include min-screen($breakpoint-medium) {
  .edit-link {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
  }
  article:hover .edit-link {
    display: block;
  }
}

// Slideshow links on comics and featured entries
.lightbox-group {
  cursor: pointer;
  float: right;
  padding: 0;
  margin: 5px 0 0;
  border: none;
  background: none;
  font: italic 18px/1 "Anonymous Pro", monospace;
  svg {
    width: 40px;
    height: 40px;
    stroke-width: 1px;
    display: inline-block;
    vertical-align: middle;
  }
  span {
    display: inline-block;
    vertical-align: middle;
    color: $white;
  }
  &:active,
  &:hover {
    background: none;
    outline: none;
    span {
      text-decoration: underline;
    }
  }
}
