// Mixins

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin screen($res-min, $res-max) {
  @media screen and ( min-width: $res-min ) and ( max-width: $res-max ) {
    @content;
  }
}
@mixin max-screen($res) {
  @media screen and ( max-width: $res ) {
    @content;
  }
}
@mixin min-screen($res) {
  @media screen and ( min-width: $res ) {
    @content;
  }
}

@mixin button() {
  border: none;
  padding: 10px;
  background: $white;
  display: inline-block;
  text-decoration: none;
  color: $black;
  text-transform: uppercase;
  font: italic 18px/1 "Anonymous Pro", monospace;
  margin: 8px 10px 4px 0;
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  &:hover {
    text-decoration: underline;
  }
}