// Colors

// Primary:
// $comics: #ff1412;
// $journal: #00597d;
// $about: #cd3b5c;
// $featured: #e1992e;
// $link: #6ccdf5;
// $link_dark: #417B94;
// $cart: #41A343;

// Fall:
$comics: #D05F5C;
$journal: #98A761;
$about: #28AAA2;
$featured: #574F37;
$link: #E1A500;
$link_dark: #194A46;
$cart: #20A2C1;

// Breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1500px;
