{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = entry.title %}
{% if entry.seoDescription %}{% set description = entry.seoDescription %}{% endif %}

{% set params = craft.entries.section('journal').orderBy('postDate desc, id asc') %}
{% set prevEntry = entry.getPrev(params) %}
{% set nextEntry = entry.getNext(params) %}

{% block content %}
	{% cache unless currentUser %}
	{% include "journal/_article" with {'modalClass': 'is-single'} %}
	{% include "partials/_pagination" %}
	{% endcache %}
{% endblock %}
