{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = entry.title %}
{% set description = entry.body|striptags[:160] %}
{% if entry.seoDescription %}
  {% set description = entry.seoDescription %}
{% endif %}

{% set params = craft.entries.section('featured').orderBy('postDate desc, id asc') %}
{% set prevEntry = entry.getPrev(params) %}
{% set nextEntry = entry.getNext(params) %}

{% block content %}
  <article class="featured is-single" data-section="featured" data-page="{{ entry.url|replace((siteUrl), '/') }}" data-page-title="{{ entry.title }}">
    {% include "partials/_edit" with {'entry': entry} %}
    <h1>{{ entry.title }}</h1>
    <div class="description user-content">
      {{ entry.body }}
    </div>
    {% if entry.featureImages|length or entry.featuredBlocks|length %}
      <div class="actions">
        <button class="lightbox-group">
          <span>SLIDESHOW</span>
          <svg class="icon" role="img"><use xlink:href="#icon-lightbox"></use></svg>
        </button>
      </div>
    {% endif %}
    {% for image in entry.featureImages.all() %}
      <a href="{{ image.getUrl() }}" class="blowup">
        <img width="{{ image.width }}" height="{{ image.height }}"
          src="{{ image.getUrl('listing') }}"
          srcset="{{ image.getUrl('listing') }} 750w, {{ image.getUrl() }} {{ image.width }}w,"
          sizes="(max-width: 768px) 100vw, (max-width: 1500px) 750px, 960px"
          alt="{{ image.title ? image.title : entry.title }}"
          loading="lazy"
        >
      </a>
    {% endfor %}

    {% for block in entry.featuredBlocks.all() %}
      {% if block.type == "featureBlock" %}
        {% for image in block.images.all() %}
          <a href="{{ image.getUrl() }}" class="blowup">
            <img width="{{ image.width }}" height="{{ image.height }}"
              src="{{ image.getUrl('listing') }}"
              srcset="{{ image.getUrl('listing') }} 750w, {{ image.getUrl() }} {{ image.width }}w,"
              sizes="(max-width: 768px) 100vw, (max-width: 1500px) 750px, 960px"
              alt="{{ image.title ? image.title : entry.title }}"
              loading="lazy">
          </a>
        {% endfor %}
        {% if block.description %}
          <div class="description user-content">{{ block.description }}</div>
        {% endif %}
      {% endif %}
    {% endfor %}

  </article>
  {% include "partials/_pagination" %}
{% endblock %}
