{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = "Featured" %}
{% set description = "My finest work, aged like cheese." %}

{% block content %}
  {% cache %}
  <section class="featured-list image-list page-content" data-page="{{ craft.app.request.absoluteUrl|replace((siteUrl), '/') }}" data-page-title="{{ title }}">
    <div class="masonryme">
    {% set entries = craft.entries({
        section: 'featured',
        with: [
          ['featuredImage', {
              withTransforms: ['thumb','thumb1x']
          }]
        ]
    }) %}
    {% for entry in entries.all() %}
      {% set featuredImage = entry.featuredImage[0] ?? null %}
      {% if featuredImage %}
      <article class="bigclicky">
        <img src="{{ craft.app.config.general.cdnUrl }}{{ featuredImage.getUrl('thumb1x') }}"
          srcset="{{ craft.app.config.general.cdnUrl }}{{ featuredImage.getUrl('thumb1x') }} 250w, {{ craft.app.config.general.cdnUrl }}{{ featuredImage.getUrl('thumb') }} 500w"
          sizes="(max-width: 768px) 100vw, calc((100vw - 90px) / 4)"
          alt="{{ featuredImage.title }}"
          loading="lazy"
        />
        <h1><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
      </article>
      {% endif %}
    {% endfor %}
    </div>
  </section>
  {% endcache %}
{% endblock %}
